body { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(78, 78, 255); 
  font-family: Arial;
  height: 100vh;
  margin: 0px;
  cursor: pointer;
}

#best-time { 
  font-size: 30px;
  margin: 0px;
  position: absolute;
  left: 5px;
  top: 1px;
}

#direction1 { 
  font-size: 40px;
  margin: 0px;
}

#direction2 { 
  font-size: 40px;
  height: 123.5px;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 20px;
}

#timer { 
  font-size: 125px;
  margin-top: 20px;
  margin-bottom: 0px;
}